@font-face{
    font-family: Montserrat-ExtraBold;
}

.navbar-left-up li a{
    color: black;
}
.navbar-left-up li a:hover{
    color: #CE242B;

}

.navbar-right-up li a{
    color: black;
}
.navbar-right-up li a:hover{
    color: #CE242B;

}

.navbar-left-down li a{
    color: black;
    
}
.navbar-left-down li a:hover{
    color: #CE242B;

}

.navbar-right-down li a{
    color: black;
}
.navbar-right-down li a:hover{
    color: #CE242B;

}

.navbar-right-up button:hover{
    color: #CE242B;

}

.navbar-left-down button:hover{
    color: #CE242B;
}

.navbar-left-down li:hover{
    color: #CE242B;
}

.dropdown-menu-white li {
    border-bottom: 0px solid #ccc; 
  }
  
  .dropdown-menu-white li a {
    font-weight: bold; 
  }

  .form-check {
    margin-bottom: -40px;
  }
  
  .form-check-input {
    transform: scale(1.5); 
  }
  
  .bi-sun,
  .bi-moon {
    font-size: 2em;
  }

  .fa-brands.fa-slack {
    font-size: 1.5em; 
  }

  .carousel-inner {
    width: 200%; 
    margin-left: -42%; 
  }
  
  .carousel-item {
    width: 100%; 
  }
  
  .carousel-item img {
    width: 100%; 
    height: auto;
  }
  



  
